<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getTAlerts</key>
	<dict>
		<key>URL</key>
		<string>http://www.mbcr.net/MBCRestDataService/TrainData.svc/TAlert/CommuterRail</string>
		<key>Method</key>
		<string>GET</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>tAlertsDownloadFailed:</string>
		<key>SuccessHandler</key>
		<string>tAlertsDownloadComplete:</string>
	</dict>
	<key>getAllPageAlerts</key>
	<dict>
		<key>URL</key>
		<string>http://www.mbcr.net/MBCRestDataService/TrainData.svc/AllPage</string>
		<key>Method</key>
		<string>GET</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>allPageAlertsDownloadFailed:</string>
		<key>SuccessHandler</key>
		<string>allPageAlertsDownloadComplete:</string>
	</dict>
	<key>getLineList</key>
	<dict>
		<key>URL</key>
		<string>http://www.mbcr.net/MBCRestDataService/TrainData.svc/Lines</string>
		<key>Method</key>
		<string>GET</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>lineRequestDownloadFailed:</string>
		<key>SuccessHandler</key>
		<string>lineRequestDownloadComplete:</string>
	</dict>
	<key>getDepartureInformation</key>
	<dict>
		<key>URL</key>
		<string>http://www.mbcr.net/MBCRestDataService/TrainData.svc/Departures</string>
		<key>Method</key>
		<string>GET</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>departureInformationFailed:</string>
		<key>SuccessHandler</key>
		<string>departureInformationCompleted:</string>
	</dict>
	<key>getDocumentList</key>
	<dict>
		<key>URL</key>
		<string>http://www.mbcr.net/MBCRestDataService/TrainData.svc/Documents</string>
		<key>Method</key>
		<string>GET</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>documentListFailed:</string>
		<key>SuccessHandler</key>
		<string>documentListCompleted:</string>
	</dict>
	<key>getSubwayAlerts</key>
	<dict>
		<key>URL</key>
		<string>http://www.mbcr.net/MBCRestDataService/TrainData.svc/TAlert/Subway</string>
		<key>Method</key>
		<string>GET</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>subwayAlertsDownloadFailed:</string>
		<key>SuccessHandler</key>
		<string>subwayAlertsDownloadComplete:</string>
	</dict>
	<key>getAVL</key>
	<dict>
		<key>URL</key>
		<string>http://www.mbcr.net/MBCRestDataService/TrainData.svc/AVL</string>
		<key>Method</key>
		<string>GET</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>avlDownloadFailed:request:</string>
		<key>SuccessHandler</key>
		<string>avlDownloadComplete:request:</string>
	</dict>
	<key>getBulletins</key>
	<dict>
		<key>URL</key>
		<string>http://www.mbcr.net/MBCRestDataService/TrainData.svc/bulletins</string>
		<key>Method</key>
		<string>GET</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>bulletinDownloadFailed:</string>
		<key>SuccessHandler</key>
		<string>bulletinDownloadCompleted:</string>
	</dict>
	<key>getTrains</key>
	<dict>
		<key>URL</key>
		<string>http://www.mbcr.net/MBCRestDataService/TrainData.svc/Trips</string>
		<key>Method</key>
		<string>GET</string>
		<key>ExpectedResultType</key>
		<string>JSON</string>
		<key>FailureHandler</key>
		<string>trainsDownloadFailed:</string>
		<key>SuccessHandler</key>
		<string>trainsDownloadCompleted:</string>
	</dict>
</dict>
</plist>
